.container_list {
    /* background: #eee; */
    display: grid;
    grid-template-rows:80% 20%;
    grid-template-columns: 38% 55%;
    grid-gap:10px 10px;

    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:80% 20%;
    gap: 1rem; */

}

.item-1 {
    border-radius: 0.5rem;
}

.item-1 img {
    border-radius: 20px;
}

.fit_grid {
    width: 100%; /* ADD */
    height:100%; /* ADD */
    /* object-fit: contain; */
    object-fit: cover;
    overflow: hidden;
}

/* .item-5, .item-3, .item-4, .item-6{
    border: 2px solid #000000;
} */

.container_syousai {	
    display: grid;
    /* width: 600px; */	
    /* height: 300px; */
    margin:1em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;	/*何列あるか*/
    grid-template-rows: 1fr 1fr 1fr 1fr;	/*何行あるか */
    gap: 10px 30px;	
    grid-template-areas:
    "area1 area1 area2 area2 area2"
    "area1 area1 area2 area2 area2"
    "area3 area4 area2 area2 area2"
    "area5 area6 area7 area8 area8"; 
}

/* .item1, .item2, .item3, .item4, .item5, .item6{		
    border: 1px black solid;
} */

.item1 {
    grid-area: area1;
}

.item2 {
    grid-area: area2;
}

.item3 {
    grid-area: area3;
}

.item4 {
    grid-area: area4;
}

.item5 {
    grid-area: area5;
}

.item6 {
    grid-area: area6;
}

.item7 {
    grid-area: area7;
}

.item8 {
    grid-area: area8;
}

.container_welcome {	
    display: grid;
    /* width: 500px;*/
    /* height: 300px; */
    margin:1em;
    grid-template-columns: 1fr 1fr 1fr;	/*何列あるか*/
    grid-template-rows: 1fr 1fr 1fr;	/*何行あるか */
    gap: 10px 10px;	
    grid-template-areas:
    "areaW1 areaW2 areaW2"
    "areaW3 areaW2 areaW2"
    "areaW4 areaW5 areaW6"; 
}

.container_welcome div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .item_w1, .item_w2, .item_w3, .item_w4, .item_w5, .item_w6{		
    border: 1px black solid;
} */

.item_w1{
    grid-area: areaW1;
}

.item_w2 {
    grid-area: areaW2;
    height: 360px;
}

.item_w3 {
    grid-area: areaW3;
}

.item_w4 {
    grid-area: areaW4;
}

.item_w5 {
    grid-area: areaW5;
}

.item_w6 {
    grid-area: areaW6;
}
